Repository discord-samba/command: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 0c18ec99009768521f03f27117146d30928c092c
  docs/classes/argumentparseerror.html
  docs/classes/commandargumenterror.html
  docs/classes/commanddispatcherror.html
  docs/classes/errorhandlererror.html
Due: none

Push staging from: a439dba446ff707bf12d61d45d5cfa0c55ce0909
  package.json
Due: none

Push staging from: ff149d45b5b1a52833050fadd3c98680395e95d8
  package.json
Due: none

Build docs from main: 4d2fa883546cbcd636fba573eb7de56810e431c2
  docs/classes/argument.html
  docs/classes/flag.html
  docs/classes/middleware.html
  docs/classes/operand.html
  docs/classes/option.html
Due: none

Build docs from main: 9b40683705a73a5e15ed8146c80f38a911503670
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/errorhandler.html
  docs/classes/errorhandlererror.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolvercache.html
  docs/classes/result.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

Build docs from main: b3436322ed0205ad26a672a39b6c368b8d51c84a
  docs/classes/argumentparseerror.html
  docs/classes/commandargumenterror.html
  docs/classes/commanddispatcherror.html
  docs/classes/errorhandlererror.html
Due: none

Build docs from main: fb7a7b8dfcf4dcc3b420cb41fcc860196dfd0eb6
  docs/classes/middleware.html
Due: none

Push staging from: e6c6de0753d2b652f95a41b7f6eeac60f1f22f66
  package.json
Due: none

tooling: add husky install prepare script
  package-lock.json
  package.json
Due: none

Push staging from: bce1ce594286ff11867fceb35757696276e0090f
  package.json
Due: none

fix(lint): ignore broken indent rule for enums
  src/Meta.ts
  src/error/ArgumentParseErrorKind.ts
  src/error/CommandArgumentErrorKind.ts
  src/error/CommandDispatchErrorKind.ts
  src/types/ArgumentStringChunkKind.ts
  src/types/CommandArgumentKind.ts
  src/types/CommandArgumentParsingStrategy.ts
  src/types/CommandArgumentSpecConflict.ts
  src/types/ResultKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 8fe80f8c263840442bc7d3039180d7e19b7178f7
  Meta.ts
  error/ArgumentParseErrorKind.ts
  error/CommandArgumentErrorKind.ts
  error/CommandDispatchErrorKind.ts
  types/ArgumentStringChunkKind.ts
  types/CommandArgumentKind.ts
  types/CommandArgumentParsingStrategy.ts
  types/CommandArgumentSpecConflict.ts
  types/ResultKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 8fe80f8c263840442bc7d3039180d7e19b7178f7
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
Due: none

feat: add argument binding (needs testing)
  src/__test__/manual_test.ts
  src/argument/CommandArgumentSpec.ts
  src/argument/CommandArguments.ts
  src/parse/ArgumentParser.ts
  src/types/CommandArgumentSpecEntry.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

fix: make arg binding actually work
  src/CommandModule.ts
  src/__test__/manual_test.ts
  src/argument/CommandArgumentSpec.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

fix(docs): export CommandArgumentSpec so it shows in docs
  src/index.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

fix: fix error attempting to bind args with no value
  src/argument/CommandArguments.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

docs(CommandArgumentSpec): update documentation
  src/__test__/manual_test.ts
  src/argument/CommandArgumentSpec.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 48c0d780614a96ac1a407f378f64c555cfe98ed4
  CommandModule.ts
  argument/CommandArgumentSpec.ts
  argument/CommandArguments.ts
  index.ts
  parse/ArgumentParser.ts
  types/CommandArgumentSpecEntry.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 48c0d780614a96ac1a407f378f64c555cfe98ed4
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/errorhandler.html
  docs/classes/errorhandlererror.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolvercache.html
  docs/classes/result.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

Build docs from main: 8709f9122d2981ca539a3bb31f055064195bab1b
  docs/classes/commandargumentspec.html
Due: none

test: add argument binding tests
  package-lock.json
  src/__test__/CommandArguments.test.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

refactor(CommandArguments): add tools for manual arg building
  src/__test__/ArgumentParser.test.ts
  src/__test__/CommandArguments.test.ts
  src/argument/CommandArguments.ts
  src/parse/ArgumentParser.ts
  src/parse/ArgumentParserOutput.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

fix: fix errors from CommandDispatcher signature refactor
  src/CommandDispatcher.ts
  src/__test__/manual_test.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: d1f10c719317f1d19edd8c00cad2bea9da209c5b
  CommandDispatcher.ts
  argument/CommandArguments.ts
  parse/ArgumentParser.ts
  parse/ArgumentParserOutput.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: d1f10c719317f1d19edd8c00cad2bea9da209c5b
  docs/assets/js/search.js
  docs/classes/commandarguments.html
Due: eslint

Push staging from: ca2876467cbf2d46138838428d90dddd79078818
  package.json
Due: none

Push staging from: 7855267da2bb0a570b4a27b02dcf447fc86ae844
  package.json
Due: none

Push staging from: b57ca956ca7ce78537eff5431182b3a21a012c59
  package.json
Due: none

Push staging from: 9ba88af51dae801c4891438dd66320f9c8a284fe
  package.json
Due: none

Push staging from: 6e4a1feca9e799838db0b9ca904cf28a36012da3
  package.json
Due: none

chore: update dependabot.yml
  .github/dependabot.yml
Due: none

Push staging from: 9785681e1d00d09b8ae7e3b2b6bbe4fe0cf56c1f
  package.json
Due: none

Push staging from: c5581d68c7bfc884668c274b96a2b826447f6b45
  package.json
Due: none

Push staging from: a03c5505562bf4a96b941f62c0c86b58890c197d
  package.json
Due: none

Push staging from: d264a82e14cc14db8293cbb2f1f87f963135af5f
  package.json
Due: none

Push staging from: 6b0ea332d7e880b0e78b98a585e80b68837f30f1
  package.json
Due: none

Push staging from: 27e759c48c506c9c8ca6436265a2afb57734ceb5
  package.json
Due: none

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  jest --findRelatedTests -c .jestrc.json: any of: *.ts
