Repository discord-samba/command: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 5387a2dc5a558b73ce8ae79fadf1119044dee0f0
  index.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 5387a2dc5a558b73ce8ae79fadf1119044dee0f0
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/result.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

docs(Result): update docs
  src/Result.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 564026e5f3335a5871fd85f9d18a4119fe9f2967
  Result.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 564026e5f3335a5871fd85f9d18a4119fe9f2967
  docs/classes/result.html
Due: none

feat: make arguments easier to get/use (at compile-time)
  src/__test__/CommandArguments.test.ts
  src/argument/Argument.ts
  src/argument/CommandArguments.ts
  src/argument/Flag.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: e9f86e878ac3998b196a0c89479a8950888963db
  argument/Argument.ts
  argument/CommandArguments.ts
  argument/Flag.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: e9f86e878ac3998b196a0c89479a8950888963db
  docs/classes/argument.html
  docs/classes/commandarguments.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
Due: none

Build docs from main: e9f86e878ac3998b196a0c89479a8950888963db
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/result.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

tooling(docs): add typedoc-patch
  package-lock.json
  package.json
  scripts/typedoc-runner.js
Due: eslint

Build docs from main: 5ae1a27c3a74e1917f64b58c94fbce5b73dbdb94
  docs/assets/css/main.css
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/result.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: none

tooling(husky): update for husky v5 support
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: none

feat: export cache classes
  src/CommandCache.ts
  src/RuleCache.ts
  src/index.ts
  src/resolve/ResolverCache.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 84a0560649e534fcb85b1e79ccfd83d322c33943
  CommandCache.ts
  RuleCache.ts
  index.ts
  resolve/ResolverCache.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 84a0560649e534fcb85b1e79ccfd83d322c33943
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolvercache.html
  docs/classes/result.html
  docs/classes/rulecache.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

chore(dev-deps): update typedoc
  .husky/.gitignore
  package-lock.json
  package.json
Due: none

chore: clean up unnecessary internal markers
  src/CommandCache.ts
  src/RuleCache.ts
  src/resolve/ResolverCache.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 92d4736aa29f464d364be089b054d956e3ee411d
  CommandCache.ts
  RuleCache.ts
  resolve/ResolverCache.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 92d4736aa29f464d364be089b054d956e3ee411d
  docs/classes/commandcache.html
  docs/classes/resolvercache.html
  docs/classes/rulecache.html
Due: none

feat: add NextFunction typedef
  src/CommandDispatcher.ts
  src/RuleCache.ts
  src/index.ts
  src/types/MiddlewareFunction.ts
  src/types/NextFunction.ts
  src/types/RuleFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: c07663ee24a905e634e42fd00c60943e429342a6
  CommandDispatcher.ts
  RuleCache.ts
  index.ts
  types/MiddlewareFunction.ts
  types/NextFunction.ts
  types/RuleFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: c07663ee24a905e634e42fd00c60943e429342a6
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolvercache.html
  docs/classes/result.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

docs: update NextFunction docs
  src/types/NextFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: dac35882db4cfab45a58ce38a864e01b0567ccfe
  types/NextFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: dac35882db4cfab45a58ce38a864e01b0567ccfe
  docs/modules.html
Due: none

docs: update CommandModule docs
  src/CommandModule.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 6be56a4d66172f2b5f3704134a76f35987e82fe9
  docs/classes/commandmodule.html
Due: none

Push staging from: 6be56a4d66172f2b5f3704134a76f35987e82fe9
  CommandModule.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

feat(CommandDispatcher): split command ident on whitespace
  src/CommandDispatcher.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 63e42fa11fce84be543ac5c0005551b175dc5a47
  CommandDispatcher.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

docs: update MessageContext docs
  src/MessageContext.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 2d7ff637e4993add85a11686e92ace4dcd678ec6
  MessageContext.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 2d7ff637e4993add85a11686e92ace4dcd678ec6
  docs/classes/messagecontext.html
Due: none

feat: add ErrorHandler
  src/ErrorHandler.ts
  src/__test__/ArgumentParser.test.ts
  src/__test__/CommandArguments.test.ts
  src/__test__/ErrorHandler.test.ts
  src/__test__/manual_test.ts
  src/error/ArgumentParseError.ts
  src/error/CommandArgumentError.ts
  src/error/CommandDispatchError.ts
  src/index.ts
  src/types/CustomErrorConstructor.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 0ddf97be041c9a89e2a52f14a82503cf500bedf9
  ErrorHandler.ts
  error/ArgumentParseError.ts
  error/CommandArgumentError.ts
  error/CommandDispatchError.ts
  index.ts
  types/CustomErrorConstructor.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 0ddf97be041c9a89e2a52f14a82503cf500bedf9
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/errorhandler.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolvercache.html
  docs/classes/result.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

feat(Result): expose Result#kind as human-readable field
  src/Result.ts
  src/types/ResultKind.ts
  src/types/ResultToken.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 6f6e9cb7f85702a4edd62a7babbab10905c2bcf1
  Result.ts
  types/ResultKind.ts
  types/ResultToken.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 6f6e9cb7f85702a4edd62a7babbab10905c2bcf1
  docs/assets/js/search.js
  docs/classes/result.html
Due: eslint

feat(Resolver): add name getter
  src/resolve/Resolver.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  jest --findRelatedTests -c .jestrc.json: any of: *.ts
