Repository discord-samba/command: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 8ab0847e09c0c1767841c09d927433d71c972b59
  Argument.ts
  CommandArguments.ts
  Flag.ts
  Operand.ts
  Option.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 8ab0847e09c0c1767841c09d927433d71c972b59
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/commandarguments.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
Due: none

chore: expose CommandArgKindImpl classes for error use
  src/Argument.ts
  src/parse/commandArgKindImpl/CommandArgKindImplFlag.ts
  src/parse/commandArgKindImpl/CommandArgKindImplOperand.ts
  src/parse/commandArgKindImpl/CommandArgKindImplOption.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: bc919c48a7352983685c2fa9600c60c0affb5f0d
  Argument.ts
  parse/commandArgKindImpl/CommandArgKindImplFlag.ts
  parse/commandArgKindImpl/CommandArgKindImplOperand.ts
  parse/commandArgKindImpl/CommandArgKindImplOption.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: bc919c48a7352983685c2fa9600c60c0affb5f0d
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargkindimplflag.html
  docs/classes/commandargkindimploperand.html
  docs/classes/commandargkindimploption.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/commanddispatcherrorkind.html
  docs/globals.html
  docs/index.html
Due: none

docs: update documentation
  src/Argument.ts
  src/CommandArgumentSpec.ts
  src/CommandArguments.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 578422852bb9dc9a68d9e2179d877f477e1373e6
  Argument.ts
  CommandArgumentSpec.ts
  CommandArguments.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 578422852bb9dc9a68d9e2179d877f477e1373e6
  docs/classes/argument.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
Due: none

refactor: move missing option value error to CommandArguments
  src/CommandArgumentSpec.ts
  src/CommandArguments.ts
  src/__test__/ArgumentParser.test.ts
  src/__test__/CommandArguments.test.ts
  src/parse/ArgumentParser.ts
  src/types/ArgumentParseErrorKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: ae4ac9b161005ff4b2b57b0ad51060cd1e61ce14
  CommandArgumentSpec.ts
  CommandArguments.ts
  parse/ArgumentParser.ts
  types/ArgumentParseErrorKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: ae4ac9b161005ff4b2b57b0ad51060cd1e61ce14
  docs/assets/js/search.json
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/enums/argumentparseerrorkind.html
Due: none

fix(CommandArguments): add missing check for SpecOption#required
  src/CommandArguments.ts
  src/__test__/CommandArguments.test.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: edfdccce860fc48729aa47d5b9c247016c873fba
  CommandArguments.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: edfdccce860fc48729aa47d5b9c247016c873fba
  docs/classes/commandarguments.html
Due: none

chore: move argument related files to new dir
  src/Command.ts
  src/CommandContext.ts
  src/__test__/ArgumentParser.test.ts
  src/__test__/CommandArgumentSpec.test.ts
  src/__test__/CommandArguments.test.ts
  src/__test__/manual_test.ts
  src/argument/Argument.ts
  src/argument/CommandArgumentError.ts
  src/argument/CommandArgumentErrorContext.ts
  src/argument/CommandArgumentSpec.ts
  src/argument/CommandArguments.ts
  src/argument/Flag.ts
  src/argument/Operand.ts
  src/argument/Option.ts
  src/index.ts
  src/parse/ArgumentParser.ts
  src/parse/ArgumentParserState.ts
  src/resolve/resolvers/BooleanResolver.ts
  src/resolve/resolvers/NumberResolver.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 2ec3a67743ffc7b27e1bf09385c6cbd5fa20aa02
  Command.ts
  CommandContext.ts
  argument/Argument.ts
  argument/CommandArgumentError.ts
  argument/CommandArgumentErrorContext.ts
  argument/CommandArgumentSpec.ts
  argument/CommandArguments.ts
  argument/Flag.ts
  argument/Operand.ts
  argument/Option.ts
  index.ts
  parse/ArgumentParser.ts
  parse/ArgumentParserState.ts
  resolve/resolvers/BooleanResolver.ts
  resolve/resolvers/NumberResolver.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 2ec3a67743ffc7b27e1bf09385c6cbd5fa20aa02
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
Due: none

feat: add command dispatching, rules, middleware, etc
  .gitignore
  package.json
  src/Command.ts
  src/CommandCache.ts
  src/CommandDispatcher.ts
  src/CommandModule.ts
  src/MessageContext.ts
  src/Meta.ts
  src/MiddlewareCache.ts
  src/RuleCache.ts
  src/Rules.ts
  src/__test__/manual_test.ts
  src/argument/Argument.ts
  src/argument/CommandArgumentErrorContext.ts
  src/argument/CommandArgumentSpec.ts
  src/resolve/ArgumentContext.ts
  src/resolve/Resolver.ts
  src/types/CommandOptions.ts
  src/types/MiddlewareFunction.ts
  src/types/RuleFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 9cb97b550ec4935cd8c0e1f5347b77e8d35fed12
  Command.ts
  CommandCache.ts
  CommandDispatcher.ts
  CommandModule.ts
  MessageContext.ts
  Meta.ts
  MiddlewareCache.ts
  RuleCache.ts
  Rules.ts
  argument/Argument.ts
  argument/CommandArgumentErrorContext.ts
  argument/CommandArgumentSpec.ts
  resolve/ArgumentContext.ts
  resolve/Resolver.ts
  types/CommandOptions.ts
  types/MiddlewareFunction.ts
  types/RuleFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 9cb97b550ec4935cd8c0e1f5347b77e8d35fed12
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargkindimplflag.html
  docs/classes/commandargkindimploperand.html
  docs/classes/commandargkindimploption.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/commanddispatcherrorkind.html
  docs/globals.html
  docs/index.html
  docs/interfaces/commandoptions.html
Due: none

feat: allow passing many rules/middleware at once
  src/MiddlewareCache.ts
  src/RuleCache.ts
  src/__test__/manual_test.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 0e21e5e2d8fd2b52d7eb72cd01e599128b81148e
  MiddlewareCache.ts
  RuleCache.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 0e21e5e2d8fd2b52d7eb72cd01e599128b81148e
  docs/classes/middlewarecache.html
  docs/classes/rulecache.html
Due: none

feat: add more rules and middleware
  src/Meta.ts
  src/Middleware.ts
  src/MiddlewareCache.ts
  src/Rules.ts
  src/__test__/manual_test.ts
  src/types/MiddlewareFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 3a6bba52dbb8d632a301020f1826093d133f0127
  Meta.ts
  Middleware.ts
  MiddlewareCache.ts
  Rules.ts
  types/MiddlewareFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 3a6bba52dbb8d632a301020f1826093d133f0127
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargkindimplflag.html
  docs/classes/commandargkindimploperand.html
  docs/classes/commandargkindimploption.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/globals.html
  docs/index.html
  docs/interfaces/commandoptions.html
Due: none

chore: update typedoc dep and runner
  package-lock.json
  package.json
  scripts/typedoc-runner.js
  src/MessageContext.ts
  src/argument/Argument.ts
  src/index.ts
  src/types/CommandOptions.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: bd9cad815d72f0513dce16c4afce749efa186bde
  MessageContext.ts
  argument/Argument.ts
  index.ts
  types/CommandOptions.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: bd9cad815d72f0513dce16c4afce749efa186bde
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargkindimplflag.html
  docs/classes/commandargkindimploperand.html
  docs/classes/commandargkindimploption.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middleware.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/commanddispatcherrorkind.html
  docs/globals.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

chore: fix tsconfig formatting
  tsconfig.json
Due: none

Build docs from main: 37c8ba67a7b8f99d594bc4c947221255908fce32
  docs/classes/argument.html
  docs/classes/command.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/rules.html
Due: none

feat(CommandContext): add channel, author
  src/CommandContext.ts
  src/Middleware.ts
  src/__test__/manual_test.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 46fde2a3a9eeb7143e9b88cd035406cd8ccf5b48
  CommandContext.ts
  Middleware.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 46fde2a3a9eeb7143e9b88cd035406cd8ccf5b48
  docs/assets/js/search.js
  docs/classes/commandcontext.html
  docs/classes/middleware.html
Due: eslint

chore: add error dir, update import paths
  package.json
  src/Command.ts
  src/CommandContext.ts
  src/CommandDispatcher.ts
  src/__test__/ArgumentParser.test.ts
  src/__test__/CommandArgumentSpec.test.ts
  src/__test__/CommandArguments.test.ts
  src/__test__/manual_test.ts
  src/argument/CommandArguments.ts
  src/argument/Flag.ts
  src/argument/Operand.ts
  src/argument/Option.ts
  src/error/ArgumentParseError.ts
  src/error/ArgumentParseErrorKind.ts
  src/error/CommandArgumentError.ts
  src/error/CommandArgumentErrorContext.ts
  src/error/CommandArgumentErrorKind.ts
  src/error/CommandDispatchError.ts
  src/error/CommandDispatchErrorKind.ts
  src/index.ts
  src/parse/ArgumentParser.ts
  src/parse/ArgumentParserState.ts
  src/resolve/resolvers/BooleanResolver.ts
  src/resolve/resolvers/NumberResolver.ts
  tsconfig.json
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 3d5e85d85c3ae87610b85af5a2f0f2c33d7b1b8a
  Command.ts
  CommandContext.ts
  CommandDispatcher.ts
  argument/CommandArguments.ts
  argument/Flag.ts
  argument/Operand.ts
  argument/Option.ts
  error/ArgumentParseError.ts
  error/ArgumentParseErrorKind.ts
  error/CommandArgumentError.ts
  error/CommandArgumentErrorContext.ts
  error/CommandArgumentErrorKind.ts
  error/CommandDispatchError.ts
  error/CommandDispatchErrorKind.ts
  index.ts
  parse/ArgumentParser.ts
  parse/ArgumentParserState.ts
  resolve/resolvers/BooleanResolver.ts
  resolve/resolvers/NumberResolver.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 3d5e85d85c3ae87610b85af5a2f0f2c33d7b1b8a
  docs/classes/argumentparseerror.html
  docs/classes/commandargumenterror.html
  docs/classes/commanddispatcherror.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
Due: none

feat: add Result class and functionality
  src/CommandDispatcher.ts
  src/Middleware.ts
  src/Result.ts
  src/__test__/manual_test.ts
  src/types/ResultToken.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: efa00dc2b9c2da76beee7293fe74b0f7f7faa7bb
  CommandDispatcher.ts
  Middleware.ts
  Result.ts
  types/ResultToken.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

chore: export Result
  src/index.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  jest --findRelatedTests -c .jestrc.json: any of: *.ts
