Repository discord-samba/command: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --findRelatedTests -c .jestrc.json

.lintstagedrc.json:

{
	"*.ts": [
		"eslint",
		"jest --findRelatedTests -c .jestrc.json"
	],
	"*.js": "eslint"
}

Build docs from master: 1d83684af5d619722d4ae21f3cef05a05fe58cbb
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/inputparseerror.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/optionargument.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/inputparseerrorkind.html
Due: eslint

refactor: rename Option -> Flag
  src/Argument.ts
  src/CommandArgumentSpec.ts
  src/CommandArguments.ts
  src/Flag.ts
  src/__test__/CommandArgumentSpec.test.ts
  src/__test__/CommandArguments.test.ts
  src/__test__/InputParser.test.ts
  src/__test__/manual_test.ts
  src/index.ts
  src/parse/InputParser.ts
  src/parse/ParserOutput.ts
  src/parse/commandArgKindImpl/CommandArgKindImplFlag.ts
  src/parse/commandArgKindImpl/CommandArgKindImplOption.ts
  src/parse/interfaces/ICommandArgumentKindFlag.ts
  src/types/CommandArgumentKind.ts
  src/types/CommandArgumentParsingStrategy.ts
  src/types/CommandArgumentSpecConflict.ts
  src/types/CommandArgumentSpecFlag.ts
  src/types/CommandArgumentSpecOption.ts
  src/types/InputStringChunkKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from master: 2a06503e1861270e88c1ef690af42dd1bc468208
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/inputparseerror.html
  docs/classes/operand.html
  docs/classes/optionargument.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/commanddispatcherrorkind.html
  docs/enums/inputparseerrorkind.html
  docs/globals.html
  docs/index.html
Due: none

tooling(workflows): add --no-git-tag-version to dev build workflow
  .github/workflows/publish_dev.yml
Due: none

Push staging from: 8f3be98d7bae15ee8f4c379f61a2561ba5f5be0a
  Argument.ts
  CommandArgumentSpec.ts
  CommandArguments.ts
  Flag.ts
  index.ts
  parse/InputParser.ts
  parse/ParserOutput.ts
  parse/commandArgKindImpl/CommandArgKindImplFlag.ts
  parse/commandArgKindImpl/CommandArgKindImplOption.ts
  parse/interfaces/ICommandArgumentKindFlag.ts
  types/CommandArgumentKind.ts
  types/CommandArgumentParsingStrategy.ts
  types/CommandArgumentSpecConflict.ts
  types/CommandArgumentSpecFlag.ts
  types/CommandArgumentSpecOption.ts
  types/InputStringChunkKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

tooling(workflows): check for docs build errors
  .github/workflows/test_docs.yml
Due: none

tooling(workflows): fix docs test workflow
  .github/workflows/test_docs.yml
Due: none

refactor: rename OptionArgument -> Option
  package-lock.json
  src/Argument.ts
  src/CommandArgumentSpec.ts
  src/CommandArguments.ts
  src/Flag.ts
  src/Operand.ts
  src/Option.ts
  src/__test__/CommandArgumentSpec.test.ts
  src/__test__/CommandArguments.test.ts
  src/__test__/InputParser.test.ts
  src/__test__/manual_test.ts
  src/index.ts
  src/parse/InputParser.ts
  src/parse/ParserOutput.ts
  src/parse/commandArgKindImpl/CommandArgKindImplOption.ts
  src/parse/commandArgKindImpl/CommandArgKindImplOptionArgument.ts
  src/parse/interfaces/ICommandArgumentKindOption.ts
  src/types/CommandArgumentKind.ts
  src/types/CommandArgumentParsingStrategy.ts
  src/types/CommandArgumentSpecConflict.ts
  src/types/CommandArgumentSpecOption.ts
  src/types/CommandArgumentSpecOptionArgument.ts
  src/types/InputParseErrorKind.ts
  src/types/InputStringChunkKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 4e59ed02be6202bea321f5c50a55a60eca2426fa
  Argument.ts
  CommandArgumentSpec.ts
  CommandArguments.ts
  Flag.ts
  Operand.ts
  Option.ts
  index.ts
  parse/InputParser.ts
  parse/ParserOutput.ts
  parse/commandArgKindImpl/CommandArgKindImplOption.ts
  parse/commandArgKindImpl/CommandArgKindImplOptionArgument.ts
  parse/interfaces/ICommandArgumentKindOption.ts
  types/CommandArgumentKind.ts
  types/CommandArgumentParsingStrategy.ts
  types/CommandArgumentSpecConflict.ts
  types/CommandArgumentSpecOption.ts
  types/CommandArgumentSpecOptionArgument.ts
  types/InputParseErrorKind.ts
  types/InputStringChunkKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from master: 4e59ed02be6202bea321f5c50a55a60eca2426fa
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/inputparseerror.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/commanddispatcherrorkind.html
  docs/enums/inputparseerrorkind.html
  docs/globals.html
  docs/index.html
Due: none

refactor: rename Flag#occurrences -> Flag#count
  src/Flag.ts
  src/__test__/CommandArguments.test.ts
  src/parse/InputParser.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 0e812377e89124a106e10b476aa594cece9c4e04
  Flag.ts
  parse/InputParser.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from master: 0e812377e89124a106e10b476aa594cece9c4e04
  docs/assets/js/search.json
  docs/classes/flag.html
Due: none

chore: update docs/comments for recent changes, rename some things
  src/Flag.ts
  src/Option.ts
  src/parse/InputParser.ts
  src/types/InputParseErrorKind.ts
  src/types/InputStringChunkKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 0194839a981d8fd1013389e687402b34edf8658b
  Flag.ts
  Option.ts
  parse/InputParser.ts
  types/InputParseErrorKind.ts
  types/InputStringChunkKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from master: 0194839a981d8fd1013389e687402b34edf8658b
  docs/classes/flag.html
  docs/classes/option.html
  docs/enums/inputparseerrorkind.html
Due: none

chore: add missing changes from previous commit
  src/parse/InputParser.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: bfecbb4553ef0236b21b22f2fee009bc26fd2130
  parse/InputParser.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

refactor: change operand/option 'optional' logic to 'required' logic
  src/CommandArgumentSpec.ts
  src/CommandArguments.ts
  src/__test__/CommandArgumentSpec.test.ts
  src/__test__/CommandArguments.test.ts
  src/__test__/manual_test.ts
  src/types/CommandArgumentSpecOperand.ts
  src/types/CommandArgumentSpecOption.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: b558c2836342ef1a51d7ebc4408b54a3eeb1876f
  CommandArgumentSpec.ts
  CommandArguments.ts
  types/CommandArgumentSpecOperand.ts
  types/CommandArgumentSpecOption.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from master: b558c2836342ef1a51d7ebc4408b54a3eeb1876f
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
Due: none

tooling: fix jest debugging in vsc not taking config
  .vscode/launch.json
Due: none

docs: update InputParseErrorKind docs
  src/types/InputParseErrorKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 0472eb0ee5b1fd427a1800fe85c247ee9b5e2ca8
  types/InputParseErrorKind.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from master: 0472eb0ee5b1fd427a1800fe85c247ee9b5e2ca8
  docs/enums/inputparseerrorkind.html
Due: none

chore: update for primary branch rename
  .github/workflows/publish_dev.yml
  .github/workflows/publish_docs.yml
  scripts/typedoc-runner.js
Due: eslint

Build docs from main: 0ddb7ce2ca867672bf96f92c47619ece0c5aa827
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/inputparseerror.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/inputparseerrorkind.html
Due: none

chore: update FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: allow '=' for option value assignment
  src/__test__/InputParser.test.ts
  src/parse/InputParser.ts
  src/types/InputStringChunkKind.ts
  src/types/ParserState.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 52eb6151348287aa673af73ee6e48eef82e8c1f9
  parse/InputParser.ts
  types/InputStringChunkKind.ts
  types/ParserState.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

refactor: further leverage assignment mode, clean up
  src/parse/InputParser.ts
  src/types/ParserState.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 0a77d30c9121348996e2d4c453dbc10fc860357a
  parse/InputParser.ts
  types/ParserState.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

refactor: make parser state a proper class, rename things, clean up
  src/CommandArguments.ts
  src/__test__/ArgumentParser.test.ts
  src/__test__/CommandArgumentSpec.test.ts
  src/__test__/CommandArguments.test.ts
  src/__test__/manual_test.ts
  src/index.ts
  src/parse/ArgumentParseError.ts
  src/parse/ArgumentParser.ts
  src/parse/ArgumentParserOutput.ts
  src/parse/ArgumentParserState.ts
  src/types/ArgumentParseErrorKind.ts
  src/types/ArgumentStringChunkKind.ts
  src/types/CommandDispatchErrorKind.ts
  src/types/ParserState.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 5f0017888e55d4b5a0883745e4e9ce7500ddfe27
  CommandArguments.ts
  index.ts
  parse/ArgumentParseError.ts
  parse/ArgumentParser.ts
  parse/ArgumentParserOutput.ts
  parse/ArgumentParserState.ts
  types/ArgumentParseErrorKind.ts
  types/ArgumentStringChunkKind.ts
  types/CommandDispatchErrorKind.ts
  types/ParserState.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 5f0017888e55d4b5a0883745e4e9ce7500ddfe27
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/commanddispatcherrorkind.html
  docs/globals.html
  docs/index.html
Due: none

refactor: improve argument parse index tracking
  src/__test__/ArgumentParser.test.ts
  src/parse/ArgumentParseError.ts
  src/parse/ArgumentParser.ts
  src/parse/ArgumentParserState.ts
  src/parse/commandArgKindImpl/CommandArgKindImplFlag.ts
  src/parse/commandArgKindImpl/CommandArgKindImplOperand.ts
  src/parse/commandArgKindImpl/CommandArgKindImplOption.ts
  src/types/ArgumentParseNode.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: a10967d56c98fb2736165db43b8fb9780293a28c
  parse/ArgumentParseError.ts
  parse/ArgumentParser.ts
  parse/ArgumentParserState.ts
  parse/commandArgKindImpl/CommandArgKindImplFlag.ts
  parse/commandArgKindImpl/CommandArgKindImplOperand.ts
  parse/commandArgKindImpl/CommandArgKindImplOption.ts
  types/ArgumentParseNode.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: a10967d56c98fb2736165db43b8fb9780293a28c
  docs/assets/js/search.json
  docs/classes/argument.html
  docs/classes/argumentcontext.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandargumenterrorcontext.html
  docs/classes/commandarguments.html
  docs/classes/commandargumentspec.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolver.html
  docs/classes/resolvercache.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commandargumentkind.html
  docs/enums/commandargumentparsingstrategy.html
  docs/enums/commanddispatcherrorkind.html
  docs/globals.html
  docs/index.html
Due: none

feat: add raw parsed arguments to their argument instances
  src/Argument.ts
  src/CommandArguments.ts
  src/Flag.ts
  src/Operand.ts
  src/Option.ts
  src/__test__/CommandArguments.test.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json
