Repository discord-samba/command: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: ead468a88ef17d0af13b21a9470b3e83aabfaa15
  resolve/Resolver.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

chore: move ErrorHandler to error dir
  .vscode/settings.json
  src/__test__/ErrorHandler.test.ts
  src/__test__/manual_test.ts
  src/error/ErrorHandler.ts
  src/index.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: f748d6089e28906284031f7e0b3898d2fa6fe36a
  error/ErrorHandler.ts
  index.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: f748d6089e28906284031f7e0b3898d2fa6fe36a
  docs/classes/errorhandler.html
Due: none

feat(ErrorHandler): allow additional args to handle()
  src/error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 8d33d58062777c6ff31c934a55ba17b8c47e168d
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 8d33d58062777c6ff31c934a55ba17b8c47e168d
  docs/classes/errorhandler.html
Due: none

refactor(ErrorHandler): rename use -> match
  src/__test__/ErrorHandler.test.ts
  src/__test__/manual_test.ts
  src/error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: fea6e3b80c664be1c6cce78206d76c393be03882
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: fea6e3b80c664be1c6cce78206d76c393be03882
  docs/assets/js/search.js
  docs/classes/errorhandler.html
Due: eslint

feat(ErrorHandler): allow overriding existing matchers
  src/__test__/ErrorHandler.test.ts
  src/error/ErrorHandler.ts
  src/types/CustomErrorConstructor.ts
  src/types/ErrorMatcher.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

chore: update comment
  src/error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 9f456d1742fc369f6dabb1f109eab0d25f64ab25
  error/ErrorHandler.ts
  types/CustomErrorConstructor.ts
  types/ErrorMatcher.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 9f456d1742fc369f6dabb1f109eab0d25f64ab25
  docs/classes/errorhandler.html
Due: none

docs(ErrorHandler): update docs
  src/error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 73121fabba81e414918bf84f31b1605447ce46c1
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 73121fabba81e414918bf84f31b1605447ce46c1
  docs/classes/errorhandler.html
Due: none

Push staging from: 9e56d24d0d1fa122c8ade396a928c3de8f739570
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 9e56d24d0d1fa122c8ade396a928c3de8f739570
  docs/classes/errorhandler.html
Due: none

docs(ErrorHandler): update handle() docs
  src/error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 3decbdb531be4b660beabeaf073fd25746b4cede
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 3decbdb531be4b660beabeaf073fd25746b4cede
  docs/classes/errorhandler.html
Due: none

Push staging from: 40c527eb84842a47f89c10157e9013f7de216b26
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 40c527eb84842a47f89c10157e9013f7de216b26
  docs/classes/errorhandler.html
Due: none

refactor(ErrorHandler): allow return values in matcher fns
  src/error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 1045c9a84b525199b8e482bd760543971551446d
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 1045c9a84b525199b8e482bd760543971551446d
  docs/classes/errorhandler.html
Due: none

tooling: add source-map-support for debugging
  .vscode/launch.json
  package-lock.json
  package.json
Due: none

feat(dispatch): add rule/middleware error result routing
  src/Command.ts
  src/CommandContext.ts
  src/CommandDispatcher.ts
  src/CommandModule.ts
  src/Meta.ts
  src/Middleware.ts
  src/Result.ts
  src/__test__/manual_test.ts
  src/error/ErrorHandler.ts
  src/error/ErrorHandlerError.ts
  src/index.ts
  src/types/MiddlewareFunction.ts
  src/types/NextFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: 3f5fbb0a5643e3b6609955861fb264e74a9ddeed
  Command.ts
  CommandContext.ts
  CommandDispatcher.ts
  CommandModule.ts
  Meta.ts
  Middleware.ts
  Result.ts
  error/ErrorHandler.ts
  error/ErrorHandlerError.ts
  index.ts
  types/MiddlewareFunction.ts
  types/NextFunction.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: 3f5fbb0a5643e3b6609955861fb264e74a9ddeed
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commandarguments.html
  docs/classes/commandcache.html
  docs/classes/commandcontext.html
  docs/classes/commanddispatcherror.html
  docs/classes/commandmodule.html
  docs/classes/errorhandler.html
  docs/classes/errorhandlererror.html
  docs/classes/flag.html
  docs/classes/messagecontext.html
  docs/classes/middlewarecache.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/resolvercache.html
  docs/classes/result.html
  docs/classes/rulecache.html
  docs/classes/rules.html
  docs/enums/argumentparseerrorkind.html
  docs/enums/commandargumenterrorkind.html
  docs/enums/commanddispatcherrorkind.html
  docs/index.html
  docs/interfaces/commandoptions.html
  docs/modules.html
Due: eslint

docs(ErrorHandler): fix handle() docs
  src/error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Push staging from: ac500e374489f4bb33e7c801d23f8f85c6046a0f
  error/ErrorHandler.ts
Due: eslint, jest --findRelatedTests -c .jestrc.json

Build docs from main: ac500e374489f4bb33e7c801d23f8f85c6046a0f
  docs/classes/errorhandler.html
Due: none

chore: remove postinstall script
  package.json
Due: none

tooling(workflows): check for package changes in dev staging
  .github/workflows/publish_dev.yml
Due: none

Push staging from: 9fee6be0e682f1240aab161190073c3e51a4c472
  package.json
Due: none

Build docs from main: 98979039162e0c4bcc4f259fbcd6f4394f89667d
  docs/assets/js/search.js
  docs/classes/argument.html
  docs/classes/argumentparseerror.html
  docs/classes/command.html
  docs/classes/commandargumenterror.html
  docs/classes/commanddispatcherror.html
  docs/classes/errorhandlererror.html
  docs/classes/flag.html
  docs/classes/operand.html
  docs/classes/option.html
  docs/classes/result.html
  docs/interfaces/commandoptions.html
Due: eslint

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  jest --findRelatedTests -c .jestrc.json: any of: *.ts
